.about-me {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
}

.about-me__title {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin-top: 110px;
  border-bottom: 1px solid #dadada;
}

.about-me__my-photo {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: 66px;
  border-radius: 10px;
  width: 270px;
  height: 327px;
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
}

.about-me__name {
  margin: 0;
  padding: 0;
  padding-top: 66px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.about-me__info {
  margin: 0;
  padding: 0;
  padding-top: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__info-detail {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  max-width: 600px;
  width: 53%;
}

.about-me__github {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 900px) {
  .about-me {
    width: 95%;
    max-width: 668px;
  }
  .about-me__title {
    margin-top: 90px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  .about-me__my-photo {
    width: 255px;
    height: 307px;
  }
  .about-me__name {
    font-size: 40px;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
  }
  .about-me__info {
    font-size: 12px;
    line-height: 18px;
    padding-top: 16px;
  }
  .about-me__info-detail {
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
    width: 100%;
  }
  .about-me__github {
    padding-top: 83px;
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    width: 96%;
    max-width: 292px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(min-content, max-content));
  }
  .about-me__title {
    grid-column-end: -1;
    padding-bottom: 28px;
  }
  .about-me__my-photo {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 60px;
    width: 292px;
    height: 352px;
  }
  .about-me__name {
    font-size: 30px;
    letter-spacing: -1.2px;
    padding-top: 37px;
  }
  .about-me__info {
    font-size: 11px;
    line-height: 16px;
    padding-top: 20px;
  }
  .about-me__info-detail {
    font-size: 11px;
    line-height: 16px;
    max-width: 292px;
    width: 95%;
  }
  .about-me__github {
    padding-top: 40px;
  }
}
