.tooltip {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  min-height: 90px;
}
.tooltip__container{
  display: flex;
  flex-direction: column;  
  background-color: rgba(66, 133, 244, .5);
  border-radius: 5px;
  width: 320px;
  margin: 0 auto;
}

.tooltip__close {
  background-image: url(../../images/close.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 3px;
  align-self: end;
}

.tooltip__message {
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  background-color: rgba(66, 133, 244, .6);
  margin: 0;
  padding: 10px 0;
  border-radius: 0 0 5px 5px;
}
